@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "josefin Sans", "Arial Narrow", Arial, sans-serif;
}
.main_div{
  width:100%;
  height: 100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width: 27%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
h1{
  color: white ;
  background: transparent;
  background-color: #633899;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 65%;
  border-bottom: 2px solid #633899;
  outline: none;
}
button {
  min-height: 45x;
  width: 45px;
  border-radius: 50%;
  background-color: #633899;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  background-color: #20bf6b;
}
ol{
  margin-top: 30px;
  /*margin-right: 50px;*/
}
ol li{
  padding-left: 0px;
  /*padding: 3px 0;*/
  text-align: left;
  font-size: 23px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #633899;
  text-transform: capitalize;
  /*border-bottom: 1px solid grey; */
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .bi-x-lg{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #633899;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo_style .bi-x-lg:hover{
  background-color: crimson;
}

.todo_style .bi-x-lg:hover .list_style{
  color: crimson;
}

@media (max-width: 768px){
  .center_div{
    width: 55%;
  }
  .todo_style .bi-x-lg{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 35px;
  }
}